#lor-banner {
    position: sticky;
    left: 0;
    bottom: 0;
    width: 38%;
    height: 50px;
    background-color: white;
    color: black;
    text-align: center;
    z-index: 999;
    margin: auto;
    display: flex;
    justify-content: center;
}

