#container {
    position: sticky;
    bottom: 0px;
    width: 20%;
    height: 200px;
    z-index: 999;
    margin: auto;
}

#lor-banner {
    height: 30%;
    width: 100%;
    background-color: rgb(174, 236, 255);
    position: absolute;
    bottom: 0px;
    z-index: 999;
    display: flex;
    justify-content: center;
    border-width: 1.5px solid black;
    margin: auto;
}

.user-div {
    width:50px;
    height:50px;
    border-radius:50%;
    display: inline-block;
}

.user-img {
    max-height:100%;
    max-width:100%;
    border-radius:50%;
}

.user-active {
    width:50px;
    height:50px;
    border: solid 5px rgb(255, 0, 0);
}

.user-inactive {
    width:50px;
    height:50px;
    border: solid 5px rgb(0, 153, 255);
}

#hover-card {
    width: 50%;
    height: 67%;
    position: relative;
    padding-bottom: 2%;
    top: 0px;
    background-color: rgb(174, 236, 255);
    margin: 0px auto;
    border: 1.5px solid black;
}

.side-by-side-elements {
    display: inline-block;
}
